.navbar {
	position: fixed;
	width: 100%;
	padding: 20px 0;
	background-color: $bgNegro;
	z-index: 100;
	transition: 0.3s;

	&__container {
		width: $mobileWidth;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include mq($ipad) {
			width: $ipadWidth;
		}

		@include mq($ipadPro) {
			width: $ipadProWidth;
		}

		@include mq($desktop) {
			width: $desktopWidth;
		}
	}

	&__nav {
		display: flex;
		justify-content: space-between;
		gap: 20px;

		&-link {
			text-decoration: none;
			color: #fff;
			&:hover {
				color: $bgGris;
			}

			&--login {
				color: $naranja;

				&:hover {
					color: darken($color: $naranja, $amount: 2);
				}
			}
		}
	}
}
