$naranja: #d8572f;
$textoGris: #474747;
$bgNegro: #040406;
$bgGris: #f4f4f4;

$mobileWidth: 95%;
$ipadWidth: 90%;
$ipadProWidth: 85%;
$desktopWidth: 1400px;

$mobile: 576px;
$ipad: 768px;
$ipadPro: 992px;
$desktop: 1200px;
